<footer class="main-footer">
  <div class="footer-left">
    &copy; 2020 <div class="bullet"></div> Creat de <a href="#">Tiberiu Frățilă</a>
  </div>
  <div class="footer-right">
    1.0
  </div>
</footer>
