<section class="section">
  <div class="section-header d-mobile-none">
    <h1>Despre aplicație</h1>
  </div>
  <p class="lead">Avenor Christmas Fair</p>
  <p class="copyright">Toate drepturile rezervate. © 2020 Tiberiu Frățilă</p>
  <p>Contact: <a href="tel:+40758043386">0758 043 386</a>, <a href="mailto:tiberiu.fratila@avenor.ro">tiberiu.fratila@avenor.ro</a></p>
</section>