/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/scss/bootstrap
 *= require fontawesome/rails
 *= require @nguyenthanh1995/fontawesomepro/css/all
 *= require select2/dist/css/select2
 *= require izitoast/dist/css/iziToast
 *= require stisla/style
 *= require stisla/components
 *= require_tree .
 *= stub mobile
 *= require_self
 */
$fa-font-path: '@nguyenthanh1995/fontawesomepro/webfonts';
@import '@nguyenthanh1995/fontawesomepro/scss/fontawesome';
@import '@nguyenthanh1995/fontawesomepro/scss/solid';
@import '@nguyenthanh1995/fontawesomepro/scss/regular';
@import '@nguyenthanh1995/fontawesomepro/scss/brands';
@import '@nguyenthanh1995/fontawesomepro/scss/light';
@import '@nguyenthanh1995/fontawesomepro/scss/duotone';
@import '@nguyenthanh1995/fontawesomepro/scss/v4-shims';

.svg-inline--fa {
  margin-right: 5px;
  margin-left: 5px;
}

a.nav-link svg.svg-inline--fa {
  box-sizing: border-box;
  width: 25px;
  margin-right: 12px;
}

.navbar-nav .nav-link > svg.svg-inline--fa {
  margin: 0;
}

.turbolinks-progress-bar {
  background-color: #fd7e14;
}

.main-content {
  min-height: 649px;
}

.table .btn-icon.btn-sm {
  line-height: 15px;
}

.table thead th, .table td {
  white-space: nowrap;
  vertical-align: middle;
}

a[data-target='infinite-page.more'] {
  display: none;
}

[data-controller='infinite-page'] {
  position: relative;
}

[data-target='infinite-page.container'].loading:after {
  position: absolute;
  left: 50%;
  top: 100%;
  width: 3rem;
  height: 3rem;
  opacity: 0.5;
  border-radius: 100%;
  margin: -2.2rem 0 0 -1rem;
  content: '';
}

/** HIDE-SPINNERS-BEGIN **/
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
/** HIDE-SPINNERS-END **/
